* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.titulo {
  color: #b7b7b7;
  padding: 1rem 0;
  font-style: italic; }

#contacto .formContacto .form input:focus, #contacto .formContacto .form textarea:focus {
  background-color: #9b9b9b;
  transition: 1s;
  color: white;
  width: 450px; }

#ayudar .mainAyudar {
  background-image: url(https://images.unsplash.com/photo-1448067686092-1f4f2070baae?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #ayudar .mainAyudar .grillaAyudar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
    #ayudar .mainAyudar .grillaAyudar .card {
      margin: 172px 100px 250px 100px;
      width: 46rem;
      --bs-card-border-width: 2px;
      border-color: black; }
      #ayudar .mainAyudar .grillaAyudar .card-body {
        color: white;
        background-color: black; }
      #ayudar .mainAyudar .grillaAyudar .card-img, #ayudar .mainAyudar .grillaAyudar .card-img-top {
        border-top-left-radius: var(--bs-card-inner-border-radius), black;
        border-top-right-radius: var(--bs-card-inner-border-radius), black; }
      #ayudar .mainAyudar .grillaAyudar .card .btn-primary {
        --bs-btn-color: black;
        --bs-btn-bg: white;
        --bs-btn-hover-color: white;
        --bs-btn-hover-bg: #ffffff63;
        border: solid black; }

#contacto .formContacto {
  display: flex;
  background-image: url(https://images.unsplash.com/photo-1624289714790-abf07fdea970?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center; }
  #contacto .formContacto .form {
    display: flex;
    flex-direction: column;
    width: 959px;
    align-items: center;
    height: 484px;
    justify-content: space-around;
    border: groove 2px;
    border-radius: 25px;
    margin: 27rem auto;
    background-color: #21252996; }
    #contacto .formContacto .form input {
      max-width: 1000px;
      border-radius: 7px;
      background-color: #e7e7e7;
      width: 460px;
      height: 2rem; }
      #contacto .formContacto .form input::placeholder {
        text-align: center; }
      #contacto .formContacto .form input[type=submit] {
        background-color: white;
        color: black;
        border: 1px; }
        #contacto .formContacto .form input[type=submit]:hover {
          background-color: black;
          color: white; }
    #contacto .formContacto .form textarea {
      max-width: 1000px;
      border-radius: 7px;
      background-color: #e7e7e7; }
      #contacto .formContacto .form textarea::placeholder {
        text-align: center;
        align-items: center; }

.footer {
  background-color: #212529;
  display: flex;
  color: white;
  height: 4.6rem;
  align-items: center;
  flex-direction: column; }
  .footer p {
    padding: 1rem 0 0 0;
    margin-bottom: 0; }
  .footer ul {
    margin: 0px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    height: 33px;
    font-size: 30px; }
    .footer ul li {
      margin-bottom: 1.5rem;
      list-style: none;
      padding: 5px; }
      .footer ul li .fa-brands {
        color: white; }
        .footer ul li .fa-brands:hover {
          color: #8b8b8b; }

#galeria .mainGaleria {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(https://images.unsplash.com/photo-1431440869543-efaf3388c585?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80); }
  #galeria .mainGaleria .hGaleria {
    margin: 0;
    font-style: italic;
    padding: 1rem 0;
    color: #b7b7b7;
    font-family: "Noto Sans", sans-serif; }
    #galeria .mainGaleria .hGaleria:hover {
      filter: blur(1.7px);
      transition: 5s; }
  #galeria .mainGaleria .grillaGaleria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px; }
    #galeria .mainGaleria .grillaGaleria img {
      max-width: 100%;
      border: solid 2px; }
      #galeria .mainGaleria .grillaGaleria img:hover {
        filter: blur(1.7px);
        transition: 5s; }

.navbar-brand {
  font-size: 2.3rem;
  margin-right: 0;
  margin-left: 3rem; }
  .navbar-brand:hover {
    filter: blur(1px);
    transition: 5s; }

.navbar-nav {
  width: 100%;
  justify-content: flex-end; }

#index .mainIndex {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  background: linear-gradient(90deg, black 0%, #323232 44%, black 79%); }

#nosotros .mainNosotros {
  background-image: url(https://images.unsplash.com/photo-1608231883522-2efb1897a608?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=990&q=80);
  background-size: cover; }
  #nosotros .mainNosotros .hNosotros {
    margin-left: 42%;
    color: #b7b7b7;
    padding-top: 1rem; }
  #nosotros .mainNosotros .accordion {
    max-width: 65%;
    margin: 0 auto;
    height: 71rem;
    padding-top: 13rem;
    --bs-accordion-btn-bg:none;
    --bs-accordion-color: white;
    --bs-accordion-bg: #0000005c;
    --bs-accordion-active-color: black;
    --bs-accordion-btn-color: white;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none; }
    #nosotros .mainNosotros .accordion-item {
      padding: 3rem 0; }

@media (max-width: 576px) {
  /* Galeria */
  #galeria .mainGaleria .grillaGaleria {
    grid-template-columns: 1fr; }
  /* Nosotros */
  #nosotros .mainNosotros #accordionExample {
    max-width: 90%;
    height: 54rem;
    padding-top: 9rem; }
  /* Contacto */ }

@media (max-width: 768px) {
  #index .mainIndex {
    min-height: 84vh; }
  /* Galeria */
  #galeria .mainGaleria .hGaleria {
    font-size: 3vw; }
  .w-100 {
    height: 34rem; }
  .d-none {
    display: block !important; }
  /* Nosotros */
  #nosotros .mainNosotros #accordionExample {
    max-width: 88%;
    height: 52rem;
    padding-top: 9rem; }
  #nosotros .mainNosotros .hNosotros {
    margin-left: 30%;
    font-size: 5vw; }
  /* Contacto */
  #contacto .formContacto .form {
    width: 68%;
    margin: 80px 0px;
    height: 556px; }
    #contacto .formContacto .form input {
      width: 91%; }
    #contacto .formContacto .form textarea {
      width: 91%; }
  .titulo {
    font-size: 4vw; }
  /* Ayudar */
  #ayudar .mainAyudar .grillaAyudar {
    grid-template-columns: 1fr; }
    #ayudar .mainAyudar .grillaAyudar .card {
      margin: 65px 0 140px 4%;
      width: 90%; } }
