#galeria{
    .mainGaleria {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-image: url(https://images.unsplash.com/photo-1431440869543-efaf3388c585?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
        .hGaleria {
            margin: 0;
            font-style: italic;
            padding: 1rem 0;
            @include fontStyle($colorPrincipal, $tipografiaPrincipal);
            &:hover{
                filter: blur(1.7px);
                transition: 5s;
            }
        }
        .grillaGaleria {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-gap: 10px;
            padding: 10px;
            img {
                max-width: 100%;
                border: solid 2px;
                &:hover{
                        filter: blur(1.7px);
                        transition: 5s;
                }
            }
        }
    }  
}