#nosotros{
    .mainNosotros {
        background-image: url(https://images.unsplash.com/photo-1608231883522-2efb1897a608?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=990&q=80);
        background-size: cover;
        .hNosotros {
            margin-left: 42%;
            color: #b7b7b7;
            padding-top: 1rem;
        }
        .accordion {
            max-width: 65%;
            margin: 0 auto;
            height: 71rem;
            padding-top: 13rem;
            --bs-accordion-btn-bg:none;
            --bs-accordion-color: white;
            --bs-accordion-bg: #0000005c;
            --bs-accordion-active-color: black;
            --bs-accordion-btn-color: white;
            --bs-accordion-btn-focus-border-color: none;
            --bs-accordion-btn-focus-box-shadow: none;
            &-item {
                padding: 3rem 0;
            }
        }
    }
}